# Ignore all hidden files and directories
.*
**/.*

# Keep ignore rules tracked
!.gitignore
!**/.gitignore

# Ignore only the root dataset directory
/data/

# Ignore Python bytecode cache directories
__pycache__/
**/__pycache__/

# Ignore packaging metadata artifacts
*.egg-info/
**/*.egg-info/
*.egg-info
**/*.egg-info
**/backtests/

p2/__pycache__/main.cpython-311.pyc
p2/db_interface/__pycache__/__init__.cpython-311.pyc
p2/db_interface/__pycache__/database.cpython-311.pyc
p2/db_interface/__pycache__/models.cpython-311.pyc
p2/db_interface/__pycache__/settings.cpython-311.pyc
